<#import "partials/main.ftlh" as main />

<@main.renderWith>
    <h2>Create new Topic!</h2>
    <div>
        <form action="/new-topic" method="post">
            <#if _csrf??>
                <input type="hidden" name="${(_csrf.parameterName)!'csrf'}" value="${(_csrf.token)!'--no-token--'}"/>
            </#if>
            <div>
                <label class="flex flex-v-center">
                    <p class="label-input-text">Topic title:</p>
                    <input type="text" name="name" placeholder="How to fix NullPointerException?">
                </label>
            </div>
            <div>
                <label class="flex flex-v-center">
                    <p class="label-input-text">Topic theme:</p>
                    <input type="text" name="theme" placeholder="Java">
                </label>
            </div>
            <div>
                <label class="flex flex-v-center">
                    <p class="label-input-text">Question:</p>
                    <textarea type="text" name="question" placeholder="How to fix problem?"></textarea>
                </label>
            </div>
            <div>
                <button type="submit">Create topic!</button>
            </div>
            <div>
                <#if errors?? >
                    <p>Errors in data!</p>
                    <#list errors as fieldError>
                        <p>${fieldError.field} - ${fieldError.defaultMessage!'-- no message --'}</p>
                    </#list>
                </#if>
            </div>
        </form>
    </div>
    <div class="bottom-box">
        <a href="/">Main page</a>
    </div>
</@main.renderWith>