<#import "partials/main.ftlh" as main />

<@main.renderWith>
    <h2>Registration</h2>
    <div>
        <form action="/register" method="post">
            <#if _csrf??>
                <input type="hidden" name="${(_csrf.parameterName)!'csrf'}" value="${(_csrf.token)!'--no-token--'}"/>
            </#if>
            <div>
                <label class="flex-v-center">
                    <p class="label-input-text">Name:</p>
                    <input type="text" name="name" placeholder="Elon"  value="${(dto.name)!''}">
                </label>
            </div>
            <div>
                <label class="flex-v-center">
                    <p class="label-input-text">Email:</p>
                    <input type="text" name="email" placeholder="elon@gmail.com"  value="${(dto.email)!''}" >
                </label>
            </div>
            <div>
                <label class="flex-v-center">
                    <p class="label-input-text">Login:</p>
                    <input type="text" name="login" placeholder="Musk123"  value="${(dto.login)!''}" >
                </label>
            </div>
            <div>
                <label class="flex-v-center">
                    <p class="label-input-text">Password:</p>
                    <input type="text" name="password" placeholder="password"  value="">
                </label>
            </div>
            <div>
                <button type="submit">Register</button>
            </div>
            <div>
                <#if errors?? >
                    <p>Errors in data!</p>
                    <#list errors as fieldError>
                        <p>${fieldError.field} - ${fieldError.defaultMessage!'-- no message --'}</p>
                    </#list>
                </#if>
            </div>
        </form>
    </div>
    <div class="bottom-box">
        <a href="/">Main page</a>
    </div>
</@main.renderWith>