body{
    margin: 0;
    font-family: "Times New Roman", "Arial Black", "Georgia";
}
.container {
    max-width: 1280px;
    width: 1280px;
    margin: 0 auto;
}
.flex-dir {
    display: flex;
    justify-content: space-between;
}
.modal-dialog {
    position: absolute;
    background: #ccc;
    justify-content: center;
    align-items: center;
    z-index: 2;
    display: none;
    position: fixed;
    height: 200px;
    width: 300px;
}

#shadow {
    position: fixed;
    width:100%;
    height:100%;
    z-index:1;
    background:#000;
    opacity: 0.5;
    left:0;
    top:0;
}
.add-message{
    margin-top: 20px;
}
.main-title{
    max-width: 1500px;
    width: 1500px;
    margin-left: 200px;
}
.message-flex{
    display: flex;
}
.message-content{
    margin-left: 150px;
    margin-top: 20px;
}
.dir-elem{
    width: 300px;
    text-align: center;
}